body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.FgGWSRnfc58-g_Hw__glrAHaEo%26pid%3DApi&f=1&ipt=7f282056535c2e468f7b5eb1ec5f6b385636562fe7398955d7607439c2040611&ipo=images);
  background-size: cover;
}

a {
  color: white;
  background-color: black;
  border-color: black;
  border-radius: 5px;
  margin-top: 20px;
}

section {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 150px 150px 150px;
  grid-gap: 10px;

  justify-content: center;
}

.card {
  background-color: aquamarine;
  border: 2px black solid;
  border-radius: 5px;
}

img {
  max-width: 98px;
}

.card-image {
  visibility: hidden;
}

#restart-button {
  margin-bottom: 5px;
}
